.color-picker {
  width: 300px;
  margin: 0 auto;
}

.color-picker__container {
  display: flex;
  height: 50px;
  border: 1px solid #eeeeee;
  background-color: white;
}

.selected-color-section {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 10px;
}

.selected-color-section__code {
  font-size: 16px;
  text-transform: uppercase;
}
