input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: linear-gradient(to right, #ff0000 0%,#000000 100%);
  border-radius: 1px;
  border: 0.2px solid rgba(1, 1, 1, 0.15);
}

input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #DFDFDF;
  border: 1px solid #b5b5b5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: linear-gradient(to right, #ff0000 0%,#000000 100%);
  border-radius: 1px;
  border: 0.2px solid rgba(1, 1, 1, 0.15);
}

input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #DFDFDF;
  border: 1px solid #b5b5b5;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.79);
  border: 0.2px solid rgba(1, 1, 1, 0.15);
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: rgba(48, 113, 129, 0.79);
  border: 0.2px solid rgba(1, 1, 1, 0.15);
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #DFDFDF;
  border: 1px solid #b5b5b5;
  cursor: pointer;
}

.rgb-select {
  position: relative;
}

.rgb-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-left: 1px solid #eeeeee;
}

.rgb-color-view {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.rgb-dropdown {
  position: absolute;
  top: 140%;
  right: 0;
  width: 226px;
  background-color: white;
  font-size: 16px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 10px 14px 0px rgba(50, 50, 50, 0.3);
}

.rgb-panel {
  position: relative;
  padding: 10px;
}

.rgb-panel:after, .rgb-panel:before {
  content: " ";
  bottom: 100%;
  right: 8px;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.rgb-panel:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}

.rgb-panel:before {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #eee;
  border-width: 16px;
  margin-left: -16px;
}

.panel-field {
  display: flex;
  align-items: center;
}

.panel-field__label {
  padding-right: 10px;
}

.panel-field__input_green[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #008000 0%,#000000 100%);
}

.panel-field__input_green[type=range]::-moz-range-track {
  background: linear-gradient(to right, #008000 0%,#000000 100%);
}

.panel-field__input_blue[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #0000FF 0%,#000000 100%);
}

.panel-field__input_blue[type=range]::-moz-range-track {
  background: linear-gradient(to right, #0000FF 0%,#000000 100%);
}

.panel-controls {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.panel-controls__btn {
  height: 30px;
  padding: 0 16px;
  color: #fff;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  transition: all .3s ease-out;
  cursor: pointer;
  background-color: #26a69a;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.panel-controls__btn:hover {
  background-color: #2bbbad;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.panel-controls__btn:active {
  background-color: #1d7d74;
}

.panel-controls__cancel {
  background-color: #DFDFDF;
  color: #9F9F9F;
}

.panel-controls__cancel:hover {
  background-color: #f1f1f1;
}

.panel-controls__cancel:active {
  background-color: #bfbfbf;
}