.colors {
  width: 200px;
  margin: 10px;
  background-color: white;
  border: 1px solid #eeeeee;
}

.colors-list__color {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  transition: all .3s ease-out;
}

.colors-list__color:hover {
  color: #fff;
  background-color: #458eff;
}

.colors-list__color:active {
  color: #fff;
  background-color: #0f80ff;
}

.colors-list__color:last-child {
  border-bottom: none;
}

.colors-list__color_selected {
  color: #fff;
  background-color: #0f80ff;
}

.colors-list__color-name {
  flex: 1;
  text-transform: uppercase;
}

.colors-list__color-marker {
  width: 20px;
  min-width: 20px;
  height: 20px;
}